# Copyright (c) 2025-2026 Tilmann Unte
# SPDX-License-Identifier:  Apache-2.0

config LIBFIXMATH
	bool "Enable libfixmath library"

config LIBFIXMATH_SINLUT
	bool "Enable lookup table for trigonometric functions, uses a lot of ROM"
	default y
