# Copyright (c) 2025-2026 Tilmann Unte
# SPDX-License-Identifier:  Apache-2.0

config MOVEMENT
	bool "Enable support for basic movement API for Magni robot"
	depends on UR_MAGNI_DRIVER
	depends on LIBFIXMATH

choice MOVEMENT_DEADLINE_MISS_STRATEGY
	bool "Choice of deadline miss strategy for movement thread"
	default MOVEMENT_DEADLINE_MISS_STRATEGY_SKIP_NEXT

config MOVEMENT_DEADLINE_MISS_STRATEGY_SKIP_NEXT
	bool "Whenever a deadline miss occurs, the current job is finished and the next is skipped"

config MOVEMENT_DEADLINE_MISS_STRATEGY_QUEUE
	bool "Whenever a deadline miss occurs, the current job is finished and the next is queued and executed as soon as possible"

#config MOVEMENT_DEADLINE_MISS_STRATEGY_KILL
#	bool "Whenever a deadline miss occurs, the thread is aborted and reinitialized"

endchoice
